<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="arrays.MyArrayCopy"/>
      <class name="arrays.MyArrayDeepEquals"/>
      <class name="arrays.ArraysToList"/>
      <class name="javaexercise.palindromeTest"/>
      <class name="arrays.MyArraySort"/>
      <class name="arrays.BinarySearchOnCharArray"/>
      <class name="arrays.MyArrayFill"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
